.header {
    padding: 1.5vw 0;
    background-color: #4d7be7;
    color: #DAE9DD;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 80vw;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 2.5vw;
    font-weight: bold;
    display: flex;
}
.logo .img {
    margin-right: 0.5vw;
}
.logo .img svg {
    height: 3vw;
    width: 3vw;

    path {
        fill: #DAE9DD;
    }
}

.slogan {
    display: flex;
    justify-content: center;
    flex-direction: column;
}