@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f0f0f0;
    color: #4d7be7;
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 80vw;
    max-width: 1200px;
    margin: 0 auto;
}